*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

body
{
    background-color:rgb(212, 231, 229);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

button {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border-width: 0.3rem;
    background-color: aquamarine;
    position: absolute;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    left: 80%;
}

button:hover {
    cursor: pointer;
    background-color: lightcyan;
}

.reset {
    background-color: bisque;
    top: 23%;
}

.f5 {
    top: 30%;
}

.f4 {
    top: 35%;
}

.f3 {
    top: 40%;
}

.f2 {
    top: 45%;
}

.f1 {
    top: 50%;
}